{% import 'bootstrap/wtf.html' as wtf %}

{% if current_user.is_authenticated and current_user.is_admin %}
    <input type="button" class="btn btn-xs btn-success" value="添加"
            data-toggle="modal" data-target="#myModalCreate">
    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalCvMainAttributeLabel">
                        {% if create_label %}
                            {{ create_label }}
                        {% else %}
                            添加
                        {% endif %}
                    </h4>
                </div>

                <div class="modal-body">
                    {% if add_form %}
                        {{ wtf.quick_form(add_form) }}
                    {% endif %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endif %}